/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
*{font-family:Tahoma, Geneva, sans-serif;}
h1,h2,h3,h4,h5,h6{margin:0;padding:0;}
.b,b{font-weight:bold;}
form{margin:0;padding:0;}
p{margin:5px 0px;}
/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.fl{float:left;}
.fr{float:right;}
.cb{clear:both;}
/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.cp{cursor:pointer;}
.dn{display:none;}
.no-b{border:none;}
.no-mp{margin:0;padding:0;}
.no-lst{list-style-type:none;}
.no-br{border:none;}
.no-bg{background-image:none;}
.no-bg-r{background-repeat:no-repeat;}
.bg-top{background-position:top;}
.bg-bottom{background-position:bottom;}
/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
body{margin:0;padding:0;font-size:13px;background:#000000;}
a img{border:none;}
a {text-decoration:none;}
a:hover{text-decoration:none;}
/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/